body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #ffffff;
  }

h1 {
  text-align: left;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #333;
}

/* 管理＿お知らせ一覧 */

.admin__main__container {
  font-size: 1.2rem;
  width: 1000px;
  margin: 0 auto;
}


.admin__main__table {
  width: 1000px;
  border-spacing: 0px;
  padding: 0 0 10px 0;
  margin: 0 auto;
}

.admin__main__table th {
  text-align: left;
  padding: 20px 0 20px 20px;
}

.admin__main__table td {
  padding: 10px 20px;
  vertical-align:middle
}


.admin__create__btn {
  display: inline;
  margin: 10px;
  width: 80px;
  padding: 9px;
  border-radius: 10px;
  color: #fff;
  background: #5db1a6;
}

.admin__edit__btn {
  display: inline;
  margin: 8px;
  width: 70px;
  padding: 5px 0;
  border-radius: 10px;
  color: #fff;
  background: #5db1a6;
}

.admin__delete__btn {
  display: inline;
  margin: 8px;
  width: 70px;
  padding: 5px 0;
  border-radius: 10px;
  color: #fff;
  background:#ff3636
}

/* 管理＿お知らせ変更 */

.admin__edit__table {
  width: 1000px;
  border-spacing: 0px;
  padding: 0 0 10px 0;
  margin: 0 auto;
}

.admin__edit__table th {
  text-align: left;
  padding: 20px 0 20px 20px;
  width: 15%;
}

.admin__content__td {
  padding: 10px 15px;
  vertical-align:middle
}

.admin__edit__table input {
  padding: 4px;
  line-height: 1;
  width: 350px;
}

.admin__edit__table textarea {
  height: 70px;
  width: 350px;
}

.admin__submit__td {
  padding-left: 15%;
}


.admin__submit__btn {
  display: inline;
  margin: 10px;
  width: 80px;
  padding: 9px;
  color: #fff;
  background: #606161;
}

/* ユーザー＿お知らせ一覧 */

.user__main__container {
  font-size: 1.1rem;
  width: 1000px;
  margin: 0 auto;
}

.user__main__table {
  width: 1000px;
  border-spacing: 0px;
  padding: 20px 15px 20px;
  margin: 0 auto;
}

.user__main__table th {
  text-align: left;
  padding: 20px 0 20px 20px;
}

.user__main__table td {
  vertical-align:middle
}

.user__info__title {
  font-size: 1.5rem;
}

.user__info__contents {
  margin: 25px 0 40px;
}

/* ユーザー＿プロフィール変更 */

.profile__main__container {
  font-size: 1.1rem;
  width: 1000px;
  margin: 0 auto;
}

.profile__main__container img {
  margin: 15px;
}

.profile__main__table {
  border-spacing: 0px;
  padding: 20px 15px 20px;
}

.profile__main__table__img {
  width: 300px;
}


.profile__img__label {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.profile__psw__btn {
  display: inline;
  margin: 10px 0 10px;
  padding: 5px;
  background: #fff;
  border: 1px #333 solid;
}

.profile__submit__btn {
  display: inline;
  margin: 10px;
  width: 80px;
  padding: 9px;
  color: #fff;
  background: #fa764d;
}

.profile__submit__td {
  padding-top: 5%;
}

.profile__pwd__input {
  margin: 10px 10px 10px 20px;
}

.profile__pwd__submit__btn {
  display: inline;
  margin-left: 15%;
  width: 80px;
  padding: 9px;
  color: #fff;
  background: #fa764d;
}

/* ユーザー＿カリキュラム進捗 */

.progress__user__info {
  line-height: 40px;
  margin-left: 5%;
  display: inline-block;
}

.progress__main__container {
  width: 90%;
  font-size: 1.1rem;
  margin: 0 auto;
}

.progress__main__table {
  width: 100%;
  margin-bottom: 3%;
}

.progress__main__table__img {
  width: 300px;
}

.progress__main__table td {
  vertical-align: middle;
}

.curriculum__main__container {
  display: flex;
  flex-wrap:wrap;
  font-size: 1.1rem;
  width: 100%;
  margin: 0 auto;
}

.curriculum__main__table {
  width: 31%;
  margin: 1%;
  font-size: 1.1rem;
}

.curriculum__main__table th {
  text-align: left;
}

.curriculum__main__table td {
  padding: 10px;
}

.curriculum__grade__index {
  font-weight: 500;
  color: #fff;
  background-color: rgb(121, 235, 197);
  border-radius: 20px;
  margin: 3px;
  padding: 5px 15px;
}

.clear_label {
  width: 60px;
  display: inline-block;
  color: #ff3636;
}

.not_cleared {
  color: #b6b6b6;
}




button {
  border: none;
  outline: none;
  box-shadow: none;
  background: hsl(204, 61%, 69%);
  cursor: pointer;
}

input {
  padding: 4px;
  line-height: 1;
  width: 250px;
}

input[type=number]{
  padding: 4px;
  line-height: 1;
  width: 100px;
}

select {
  padding: 4px;
  line-height: 1;
  box-sizing: content-box;
}

textarea {
  height: 70px;
  width: 250px;
}

